nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type="button" ,data-toggle="collapse" ,data-target="#navbar-collapse", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

        div.collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav
                each food in ["和食", "日本料理", "寿司", "魚介・海鮮料理", "そば（蕎麦）", "うどん", "うなぎ", "焼き鳥", "とんかつ", "串揚げ", "天ぷら", "お好み焼き", "もんじゃ焼き","しゃぶしゃぶ", "沖縄料理", "洋食", "フレンチ", "イタリアン", "スペイン料理", "パスタ", "ピザ", "ステーキ", "ハンバーグ", "ハンバーガー", "中華料理", "餃子", "韓国料理", "ベトナム料理", "タイ料理", "ラーメン", "カレー", "焼肉", "ホルモン", "鍋", "もつ鍋", "居酒屋", "バイキング", "カフェ", "パン屋", "スイーツ", "ケーキ", "バー"]
                    - var attributes = food === f ? {'class': 'active'} : {};
                    li&attributes(attributes)
                        a.navbar-brand(href="/?food=#{food}")  #{food}
                form.navbar-form.navbar-left(role="search" method="post" action="/")
                    div.form-group
                        input.form-control(type="text" name="q" placeholder="Search")
                        button.btn.btn-primary(type="submit") 検索
