doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
        title Default Title
  body
    include ../parts/header
    div.container
        block content
    include ../parts/footer
    include ../parts/js
